@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsl(148, 38%, 91%);
    --bg-color-main: hsl(0, 0%, 100%);
}

body {
    font-family: Karla, sans-serif;
    background-color: var(--bg-color);
    max-width: 375px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 90%;
    margin-top: 60px;
    margin-bottom: 50px;
    background-color: var(--bg-color-main);
    padding: 1.5em;
    border-radius: 15px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: hsl(187, 24%, 22%);
    margin-bottom: 15px;
}

.star {
    color: hsl(169, 82%, 27%);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 16px;
    color: hsl(187, 24%, 22%);
}

.form-group {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}

.form-group p {
    color: hsl(187, 24%, 22%);
    margin-bottom: 8px;
}

.form-name {
    margin-top: 22px;
}

.form-name:first-child {
    margin-top: 5px;
}

input:not([type="radio"]):not([type="checkbox"]), textarea {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid hsl(186, 15%, 59%);
    border-radius: 8px;
    font-size: 16px;
    font-family: karla, sans-serif;
}

.error-message,
.submit-instruction {
    display: none;
    color: hsl(0, 66%, 54%);
    font-size: 0.8rem;
    margin-top: 5px;
}

.error-state {
    border-color: hsl(0, 66%, 54%) !important;
}

input:hover {
    cursor: pointer;
}

input:not([type="radio"]):not([type="checkbox"]):focus, textarea:focus {
    outline: none;
    border-color: hsl(169, 82%, 27%);
}


.query-type-group {
    display: flex;
    flex-direction: column;
    gap: 13px;
    margin-top: 8px;
}

.radio-option {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border: 1px solid hsl(186, 15%, 59%);
    gap: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
}


.radio-option:has(input[type="radio"]:checked) {
    border-color: hsl(169, 82%, 27%);
    background-color: hsl(148, 38%, 91%);
}

.radio-option:hover {
    border-color: hsl(169, 82%, 27%);
}

textarea {
    resize: vertical;
    height: 210px;
}

.consent-input-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.2em;
    margin-bottom: 1.5em;
}

.consent label {
    font-size: 17px;
}

.consent label:hover {
    cursor: pointer;
}

.submit-instruction {
    margin-bottom: 8px;
}


button[type="submit"] {
    width: 100%;
    padding: 15px 15px;
    border-radius: 8px;
    border: none;
    background-color: hsl(169, 82%, 27%);
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-family: karla, sans-serif;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: hsl(169, 82%, 22%);
}

.sent-message {
    display: none;
    position: fixed;
    top: 15px;
    left: 50%;
    max-width: 90vw;
    width: 21em;
    transform: translate(-50%);
    background-color: hsl(187, 24%, 22%);
    color: hsl(0, 0%, 100%);
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-weight: 700;
}

.success-header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
}

